<div class="flex flex-col mx-auto items-center justify-center bg-primaryFaded mt-16 p-4 w-2/3">
  <h2 class="head-text">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => 'w-3/4 flex flex-col justify-center content-center items-center gap-4'  }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field w-3/4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field w-3/4">
      <%= f.label :password %> <br />
      <em class="sub-text-small">leave blank if you don't want to change</em>

      <%= f.password_field :password, autocomplete: "new-password", class: "w-full" %>
      <% if @minimum_password_length %>
        <br />
        <em class="sub-text-small"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field w-3/4">
      <%= f.label :password_confirmation %><br />
      
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full" %>
    </div>

    <div class="field w-3/4">
      <%= f.label :current_password %><br />
      <em class="sub-text-small">to confirm your changes</em>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "w-full" %>
    </div>

    <div class="actions btn-primary-dark-text w-1/2">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <div class="mb-4"><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "sub-link" %></div>

  <%= link_to "Back", :back %>
</div>
