<div class="w-fit flex flex-col items-center justify-center mx-auto bg-primaryFaded mt-16 p-4">

  <h2 class="head-text">New Adventure!</h2>

  <%= form_for(resource, :html => {:class => 'w-2/3'}, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full" %>
    </div>

    <div class="actions p-2 mt-2 mb-10 hover:text-white hover:bg-primary border-solid border-b-[2px] border-primary">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
