<div class="flex flex-col mt-16"> 
    <h1 class="text-3xl font-bold mx-auto mb-12">
        Welcome Back!
    </h1>

    <div class="flex flex-col xl:flex-row mb-12"> 
        <div class="flex flex-col mx-auto justify-center items-center gap-4"> 
            <h2 class="p-1 bg-[#E6DEEB]">The AWS Enigma</h2> 
            <%= image_tag ("telemetry.jpg"), width: '30%', height: '30%' %> 
            <h2 class="p-1 bg-[#E6DEEB]"><%= current_user.email %> - Level 2</h2> 
            <h2 class="p-1 bg-[#E6DEEB]">ARCHITECT</h2> 
            <h2 class="p-1">Customise Profile</h2> 
            <p class="p-1">Interests box here</p> 
        </div>

        <div class="flex flex-col mx-auto justify-center items-center gap-4 mt-16 self-center xl:mt-0 min-w-[50vw]"> 
            <%= link_to edit_user_registration_path, class: "flex flex-col justify-center items-center w-full" do %>
                <div class="flex flex-row-reverse p-2 bg-[#D8E9F0] w-3/4 justify-end items-center gap-8 transition-grow"> 
                    <div class="sub-text-small">
                        <h2 class="sub-text underline">The Hub</h2>
                        <p> Network with others and find new quests! </p>
                    </div>
                    <%= image_tag ("tavern-removebg.png"), class: "w-1/4" %> 
                </div>
            <% end %>
            
            <%= link_to edit_user_registration_path, class: "flex flex-col justify-center items-center w-full" do %>
                <div class="flex flex-row-reverse p-2 bg-[#D5ECE2] w-3/4 justify-end items-center gap-8 transition-grow"> 
                    <div class="sub-text-small">
                        <h2 class="sub-text underline">Active Quests</h2>
                        <p> Progress your quests! </p>
                    </div>
                    <%= image_tag ("map-removebg.png"), class: "w-1/4" %> 
                </div>
            <% end %>

            <%= link_to edit_user_registration_path, class: "flex flex-col justify-center items-center w-full" do %>
                <div class="flex flex-row-reverse p-2 bg-[#F9EFD6] w-3/4 justify-end items-center gap-8 transition-grow"> 
                    <div class="sub-text-small">
                        <h2 class="sub-text underline">Memorial Hall</h2>
                        <p> Look at your previously completed quests! </p>
                    </div>
                    <%= image_tag ("diary-removebg.png"), class: "w-1/4" %> 
                </div>
            <% end %>

        </div>
        
    </div>
</div>
