<div class="flex flex-col mt-16"> 
    <div class="flex flex-col xl:flex-row mb-12 m-8" data-controller="profileedit" data-profileedit-target="editContainer"> 
        <%= form_tag({:controller => "users", :action => "update_profile", :method => "post" }, {:class => "flex flex-col mx-auto justify-center items-center text-center gap-4"}) do  %>
            <h2 class="p-1 bg-[#E6DEEB]">The AWS Enigma</h2> 
            <%= image_tag (current_user.character_selection.url), width: '300px' %> 
            <h2 class="p-1 bg-[#E6DEEB]"><%= current_user.name %> - Level 2</h2> 
            <%= select_tag "primary_role" , options_from_collection_for_select(@jobs, "id", "name", selected: @current_job), class:"grow" , :required => true, :disabled => true,data: { "profileedit-target" =>"editableField"} %>
            <h2 class="p-1 btn-primary sub-link" id="toggleEdit">Customise Profile</h2> 
            <%= render partial: 'users/interests', locals: {selected_interests: @selected_interests, mode:"display"} %>
            <div class="flex  items-center" id="save-profile">
                <%= submit_tag 'Save', class:'btn-primary' %>
            </div>
        <% end %>


        <div class="flex flex-col mx-auto justify-center items-center gap-4 mt-16 self-center xl:mt-0 min-w-[50vw]"> 
            <%= link_to tavern_path, class: "flex flex-col justify-center items-center w-full" do %>
                <div class="flex flex-row-reverse p-2 bg-[#D8E9F0] w-3/4 justify-end items-center gap-8 transition-grow"> 
                    <div class="sub-text-small">
                        <h2 class="sub-text underline">The Hub</h2>
                        <p> Network with others and find new quests! </p>
                    </div>
                    <%= image_tag ("tavern-removebg.png"), class: "w-1/4" %> 
                </div>
            <% end %>
            
            <%= link_to active_quests_path, class: "flex flex-col justify-center items-center w-full" do %>
                <div class="flex flex-row-reverse p-2 bg-[#D5ECE2] w-3/4 justify-end items-center gap-8 transition-grow"> 
                    <div class="sub-text-small">
                        <h2 class="sub-text underline">Active Quests</h2>
                        <p> Progress your quests! </p>
                    </div>
                    <%= image_tag ("map-removebg.png"), class: "w-1/4" %> 
                </div>
            <% end %>

            <%= link_to edit_user_registration_path, class: "flex flex-col justify-center items-center w-full" do %>
                <div class="flex flex-row-reverse p-2 bg-[#F9EFD6] w-3/4 justify-end items-center gap-8 transition-grow"> 
                    <div class="sub-text-small">
                        <h2 class="sub-text underline">Memorial Hall</h2>
                        <p> Look at your previously completed quests! </p>
                    </div>
                    <%= image_tag ("diary-removebg.png"), class: "w-1/4" %> 
                </div>
            <% end %>

        </div>
        
    </div>
</div>
