<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js' ></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css' rel='stylesheet' type='text/css'>

<div class="flex flex-col mt-16"> 

    <div class="flex flex-col xl:flex-row mb-12 m-8" data-controller="profileedit" data-profileedit-target="editContainer"> 
        <%= form_tag({:controller => "users", :action => "update_profile", :method => "post" }, {:class => "flex flex-col mx-auto justify-center items-center text-center gap-4"}) do  %>
            <h2 class="p-1 bg-[#E6DEEB]">The AWS Enigma</h2> 
            <div class="flex flex-row" data-controller="iconselect">
                <div class="flex-col">
                  
                    <img class="equipment-container w-[100px] h-[100px] mx-auto"  />
                    <%= select_tag "helmetSelect", options_for_select(@equipmentHelmet.map{|e| [e.name, e.id, {'data-icon' => e.icon }]}, @equippedHelmet), :disabled => true, data: {"iconselect-target" =>"selectField","profileedit-target" =>"editableField"} %>

                     <%# <%= select_tag "helmet", options_from_collection_for_select(@equipmentHelmet, "id", "name") %> 
                    <img class="equipment-container w-[100px] h-[100px] mx-auto"  />
                    <%= select_tag "bottomsSelect", options_for_select(@equipmentBottoms.map{|e| [e.name, e.id, {'data-icon' => e.icon }]},@equippedBottoms), :disabled => true, data: {"iconselect-target" =>"selectField","profileedit-target" =>"editableField"} %>

                </div >

                <div class="flex" >
                    <%= image_tag (current_user.character_selection.url), width: '300px' %> 
                </div>

                <div class="flex-col">
                   <img class="equipment-container w-[100px] h-[100px] mx-auto"  />
                    <%= select_tag "weaponSelect", options_for_select(@equipmentWeapon.map{|e| [e.name, e.id, {'data-icon' => e.icon }]},@equippedWeapon), :disabled => true, data: {"iconselect-target" =>"selectField","profileedit-target" =>"editableField"} %>

                     <%# <%= select_tag "helmet", options_from_collection_for_select(@equipmentHelmet, "id", "name") %> 
                    <img class="equipment-container w-[100px] h-[100px] mx-auto"  />
                    <%= select_tag "chestSelect", options_for_select(@equipmentChest.map{|e| [e.name, e.id, {'data-icon' => e.icon }]},@equippedChest), :disabled => true,data: {"iconselect-target" =>"selectField","profileedit-target" =>"editableField"} %>

                </div >
            </div>

            <h2 class="p-2 bg-[#E6DEEB]"><%= current_user.name %> - Level 1</h2> 

            <%= select_tag "primary_role" , options_from_collection_for_select(@jobs, "id", "name", selected: @current_job), class:"leading-normal" , :required => true, :disabled => true,data: { "profileedit-target" =>"editableField"} %>

            <h2 class="p-1 btn-primary sub-link" id="toggleEdit">Customise Profile</h2> 

            <%= render partial: 'users/interests', locals: {selected_interests: @selected_interests, mode:"display", required:true } %>

            <div class="flex  items-center" id="save-profile">
                <%= submit_tag 'Save', class:'btn-primary-dark-text' %>
            </div>
        <% end %>

        <div class="flex flex-col mx-auto justify-center items-start gap-4 mt-16 self-start xl:mt-0 min-w-[50vw]"> 

         <div class="flex flex-col justify-center items-center w-full">
                <%= link_to tavern_path, class: "flex flex-row-reverse p-2 bg-[#D8E9F0] w-3/4 justify-end items-center gap-8 transition-grow" do %>
                    <div class="sub-text-small">
                        <h2 class="sub-text underline">The Hub</h2>
                        <p> Network with others and find new quests! </p>
                    </div>
                    <%= image_tag ("tavern-removebg.png"), class: "w-1/4" %> 
                <% end %>
            </div>
        
            <div class="flex flex-col justify-center items-center w-full">
                <%= link_to active_quests_path, class: "flex flex-row-reverse p-2 bg-[#D5ECE2] w-3/4 justify-end items-center gap-8 transition-grow" do %>
                        <div class="sub-text-small">
                        <h2 class="sub-text underline">Active Quests</h2>
                        <p> Progress your quests! </p>
                    </div>
                    <%= image_tag ("map-removebg.png"), class: "w-1/4" %> 
                <% end %>
            </div>
            
            <div class="flex flex-col justify-center items-center w-full">
                <%= link_to edit_user_registration_path, class: "flex flex-row-reverse p-2 bg-[#F9EFD6] w-3/4 justify-end items-center gap-8 transition-grow" do %>
                        <div class="sub-text-small">
                            <h2 class="sub-text underline">Treasure Hall</h2>
                            <p> Your accumulated haul and previously completed adventures! </p>
                        </div>
                        <%= image_tag ("diary-removebg.png"), class: "w-1/4" %> 
                <% end %>
            </div>

        </div>
        
    </div>
</div>
