<div class="max-w-[800px] mx-auto" >

    <div class="flex mt-16"> 
            <h1 class="text-3xl font-bold mx-auto">
                Set up
            </h1>
        </div>
    <%= form_tag :controller => "users", :action => "update_interests", :method => "post" do  %>

        <div class="flex">
            <%= label :primary_role, "Primary Role:" %>

            <%= select_tag "primary_role", options_from_collection_for_select(@jobs, "id", "name"), class:"grow" %>
        </div>
        <%= render 'users/interests' %>
        <%= submit_tag 'Submit', class:'btn-primary' %>

    <% end %>
</div>