<% if active_sections != nil %>

 <%#old drop down style of sections below%>
<%
=begin%>
 
    <%= form_tag({:controller => "active_quests", :action => "refreshSection", :method => "post" }, {:class => "flex flex-col space-y-5 items-center"}) do  %>

        <%= radio_button_tag :selected_pathway, @selected_pathway_id, class:"character-select hidden z-0 pointer-events-none", required: 'required', checked: true %>

        <%= select_tag "select_section" , options_from_collection_for_select(@current_sections, "id", "name", selected: @selected_section, include_blank: "- nothing selected -"), class:"grow text-center", :include_blank => '-- Select Section --', :onchange => "this.form.requestSubmit();"  %>
    
    <% end %> 
<%
=end%>
    <h2 class="border-solid border-black border-b-[2px] pb-2 font-logoTitle text-[#749A61]">Modules</h2>
    <div data-controller="highlightselection">
        <% @current_sections.each do |section| %>
            <%= form_tag({:controller => "active_quests", :action => "refreshSection", :method => "post" }, {:class => "flex flex-col w-full h-fit"}) do  %>
                <label class="active-quest-btn" data-highlightselection-target="section">
                    <%= radio_button_tag :selected_pathway, @selected_pathway_id, class:"character-select hidden z-50 cursor-pointer", required: 'required', checked: true, :onclick => "this.form.requestSubmit();" %>
                    <%= radio_button_tag :select_section, section.id, class:"character-select hidden z-0", required: 'required', checked: true %>

                    <%= label_tag section.id, "#{section.name}", class: 'z-0 pointer-events-none' %>
                </label>
            <% end %>
        <% end %>
        </div>

<% end %>