<div class="w-full relative" >
    <%= form_with url: updatemaptask_path, method: :post, remote: true  do  |form|  %>

        <%= image_tag(map.image, :alt => "map image", class:"w-full h-full") %>

        <% if tasks != nil %>
            <% tasks.each do |task| %>
                <label>
                    <div class="absolute transition-all cursor-pointer"
                        style="bottom: <%= map.coordinates_bot[task.step_number - 1] %>%;
                            left: <%= map.coordinates_left[task.step_number - 1] %>%;"
                    > 
                        <%= form.radio_button :selected_task, task.task_id, class:"hidden", checked: true, :onclick => "this.form.requestSubmit();"   %>
                        <%= image_tag("character.png", :alt => "npc2", class:"w-[50px] lg:w-[70px] transition-grow") %>
                        
                        <%= radio_button_tag :select_section, @selected_section_id, class:"character-select hidden z-0 pointer-events-none", required: 'required', checked: true %>
                        <%= radio_button_tag :selected_pathway, @selected_pathway_id, class:"character-select hidden z-0 pointer-events-none", required: 'required', checked: true %>
     
                    </div>
                </label>
            <% end %>
        <% end %>
        
    <% end %>
</div>

<div id="map-task-display" class="w-full">
    <%= render partial: 'active_quests/task', locals: {task: nil} %>
</div>