    <%= render partial: "layouts/flash" %>
    <% if @current_pathways.length > 0 then %>

    <div class="flex flex-row" data-controller="highlightselection">
        <div class="flex flex-col w-1/5 mt-2 ml-2"> 
            <div class="speech-bubble speech-bubble-down text-center mb-[20px]">
                <p class="text-2xl"> Welcome to your active quests! </p>
            </div>
            <%= image_tag ("GuildMaster.svg"), style: 'height:30vh; margin-bottom:20px ' %> 
            <div class="speech-bubble speech-bubble-up mb-[20px] ">
                <% if @current_pathways.length == 3 %>
                    You have the perfect number of quests on the go!
                <% elsif @current_pathways.length > 3 %>
                    Be careful not to over do it and finish the quests at hand! You can always pause a quest and come back to it later!
                <% else %>
                    It looks like you have space to <b>take on some more quests</b> from the <%= link_to "Quest Board!", "questboard", class:"btn-primary-dark-text " %> 
                <% end %>
            </div>
        </div>

        <div class="flex flex-col mb-12 p-12 w-full h-full"> 
            <div class="flex flex-row border-solid border-black border-b-[2px] pb-4">
                <%= form_tag({:controller => "active_quests", :action => "refreshPathway", :method => "post" }, {:class => "flex flex-col w-1/3 border-black border-solid border-r-2 h-fit pr-4"}) do  %>
                    <h2 class="border-solid border-black border-b-[2px] pb-2 font-logoTitle text-[#87619A]">Pathways</h2>
                    <% @current_pathways.each do |pathway| %>
                        <label class="active-quest-btn" data-highlightselection-target="pathway">
                            <%= radio_button_tag :selected_pathway, pathway.pathway_id, class:"character-select hidden z-50 cursor-pointer", required: 'required', checked: true, :onclick => "this.form.requestSubmit();" %>
                            <%= label_tag pathway.id, "#{pathway.name}", class: 'z-0 pointer-events-none' %>
                        </label>
                    <% end %>
                <% end %>

                <div class="h-fit w-3/4"> 
                    <div id="active_sections_partial_div" class="self-center mb-2 ml-4"> 
                        <%= render partial: 'active_quests/active_sections', locals: {active_sections: nil} %>
                    </div>
                </div>

                <div class="flex flex-col self-start items-start justify-start w-1/5" >
                    <%= image_tag ("Size3Map.svg"), width: '100%', height: '100%' %> 
                    <h2 class="p-1 btn-primary sub-link" id="toggleMap">Switch to map view</h2> 
                </div>
            </div>

            <div class="flex flex-row items-center text-center gap-4 w-full pt-4" data-controller="togglemap">
                <div class="flex flex-col self-start items-start justify-start w-full text-start "> 
                    <div id="active_tasks_partial_div" class="overflow-y-scroll w-full"> 
                        <%= render partial: 'active_quests/active_tasks', locals: {active_tasks: nil} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <% else %>
        <div class="speech-bubble speech-bubble-down w-1/3 m-auto text-center">
          <p class="text-2xl"> Welcome to your active quests </p>
        </div>

        <%= image_tag ("GuildMaster.svg"), style: 'height:50vh; margin:auto; margin-top:20px' %> 

        <div class="speech-bubble speech-bubble-up w-1/3 m-auto">
            It appears you have no quests to pursue! Alas! You can find some worthy of your skills at the <%= link_to "Quest Board!", "questboard", class:"btn-primary-dark-text " %> 
        </div>
    <% end %>
