
<div class="flex flex-col mt-16"> 

  <h1 class="font-bold text-4xl">Tavern#questboard</h1>

  <div class="flex flex-col xl:flex-row mb-12"> 
          <div class="flex flex-col mx-auto justify-center items-center gap-4 w-1/2"> 
             <%= image_tag ("architect.png"), width: '50%' %> 
          </div>

          <div class="flex flex-col mx-auto justify-center items-center gap-4 mt-16 self-center xl:mt-0 min-w-[50vw] w-1/2"> 
              <ul class="nav nav-tabs" id="quest-board-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">All Quests</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Recommended Quests</button>
                </li>
                
              </ul>
              <div class="tab-content" id="quest-board-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <%= form_with url: search_path, method: :post do |form| %>
                      <%= form.text_field :search %>
                      
                      <%# <%= form.select :category, options_for_select([['All', 0], ['Pathways',1], ['Modules',2]]) %> 
                      <%= render partial: 'users/interests', locals: {selected_interests: @selected_interests, mode:"edit", required: false} %>

                      <%= form.submit "Search", class: "btn-primary" %>
                    <% end %>
                     <div id="quests" class="overflow-y-scroll max-h-[500px] w-full">
                         <%= render partial: 'tavern/quests', locals: {quests: @quests} %>
                     </div>
                        
                
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="relative bg-[url('questboard-bg.jpg')] bg-cover bg-no-repeat bg-center w-[600px] h-[500px]" >
                        <%= form_with url: updaterecommended_path, method: :post, remote: true  do  |form|  %>
                            <label>
                              <div class="absolute bottom-[22%] left-[23%] text-center text-white text-opacity-0 hover:text-opacity-100 transition-all after:content-[''] "> 
                                <%= form.radio_button :selected_quest, @recommendedQuests[0].id, class:"hidden", checked: true, :onclick => "this.form.requestSubmit();"   %>
                                <%= image_tag("notification.png", :alt => "notification", class:"w-[50px] lg:w-[70px] 2xl:w-[100px] transition-grow") %>

                              </div>
                            </label>
                            <label>
                              <div class="absolute bottom-[5%] left-[80%] text-center text-white text-opacity-0 hover:text-opacity-100 transition-all after:content-[''] "> 
                                <%= form.radio_button :selected_quest, @recommendedQuests[1].id, class:"hidden", checked: true, :onclick => "this.form.requestSubmit();"  %>
                                <%= image_tag("notification.png", :alt => "notification", class:"w-[50px] lg:w-[70px] 2xl:w-[100px] transition-grow") %>
                              </div>
                            </label>
                            <label>
                              <div class="absolute bottom-[80%] left-[50%] text-center text-white text-opacity-0 hover:text-opacity-100 transition-all after:content-[''] "> 
                                <%= form.radio_button :selected_quest, @recommendedQuests[2].id, class:"hidden", checked: true, :onclick => "this.form.requestSubmit();"  %>
                                <%= image_tag("notification.png", :alt => "notification", class:"w-[50px] lg:w-[70px] 2xl:w-[100px] transition-grow") %>
                              </div>
                            </label> 
                        <% end %>
                    </div>
                    <div id="recommended-quest-display" class="w-[600px]">
                          <%= render partial: 'tavern/quest', locals: {quest: nil} %>
                    </div>
                
                </div>
              </div>

            
          </div>
  </div>
</div>