<nav class="flex items-center justify-between flex-wrap p-3 border-solid border-b-[2px] border-primaryFaded">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <a href="/" class="tracking-tight mr-2 ml-4 font-logoTitle text-xl lg:text-2xl 2xl:text-3xl text-start text-primaryText hover:text-primary">
      Dungeons<br>
      And Development
    </a>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded border-primaryFaded hover:text-primary">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-base lg:flex-grow">
      <% if current_user %>
        <%= link_to "Profile", authenticated_root_path, class: "nav-btn-primary-left" %>
        <%= link_to "Active Quests", active_quests_path, class: "nav-btn-primary-left" %>
        <%= link_to "Hub", tavern_path, class: "nav-btn-primary-left" %>
        <%= link_to "Memorial Hall", edit_user_registration_path, class: "nav-btn-primary-left" %>
      <% else %>
        <%= link_to "About", about_path, class: "nav-btn-primary-left"  %>
      <% end %>
    </div>
    <div class="flex text-base">
      <% if current_user %>
        <%= link_to "Settings", edit_user_registration_path, class: "nav-btn-primary-right" %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "nav-btn-primary-right" %>
      <% else %>
        <%= link_to "Register", new_user_registration_path, class: "nav-btn-primary-right"  %>
        <%= link_to "Log in", new_user_session_path, class: "nav-btn-primary-right"  %>
      <% end %>
    </div>
  </div>
</nav>
